
.title-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.video-grid{
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 20px;
}

.ui .grid {
    margin-top: 20px;
}


.each-video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 768px) {
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .video-list{
        grid-column-start: 2;
    }
}


@media all and (mi-width: 1024px) {
    .video-grid{
        grid-template-columns: 1fr 375px;
    }
}